<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xydl.web.user.dao.UserMapper">
    <select id = "getUserList" resultType="java.util.HashMap">
        select * from t_app_user
    </select>

    <select id="getUserInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
            user_id as userId,
            user_name as userName,
            sex,
            age,
            phone_number as phoneNumber,
            password,
            parent_id as parentId,
            organization_id as organizationId,
            organization_name as organizationName,
            user_type as userType,
            user_source as userSource,
            user_status as userStatus
        from t_app_user where phone_number = #{phoneNumber} and user_name = #{userName}
    </select>
    <select id="selectAppUserByOrganization" parameterType="java.util.HashMap" resultType="java.util.Map">
        SELECT
        user_id as appUserId,
        user_name as appUserName,
        phone_number as phoneNumber
        from t_app_user where organization_id =#{organizationId}
    </select>
    <select id="selectAppUserByAppUserId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
         select
            user_id as userId,
            user_name as appUserName,
            sex,
            age,
            phone_number as phoneNumber,
            password,
            parent_id as parentId,
            organization_id as organizationId,
            organization_name as organizationName,
            user_type as userType,
            user_source as userSource,
            user_status as userStatus
        from t_app_user where user_id = #{appUserId}
    </select>

    <!-- 新增用户 -->
    <insert id="saveAppUser" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
        insert into t_app_user(
            user_id,
            phonenumber,
            user_name,
            password,
            login_time,
            create_time
        )values(
            #{userId},
            #{phonenumber},
            #{userName},
            #{password},
            sysdate(),
            sysdate()
        )
    </insert>
    <insert id="insertAppuser" parameterType="java.util.Map">
        insert into t_app_user(
            user_id,
            user_name,
            sex,
            age,
            phone_number,
            organization_name,
            organization_id,
            user_type,
            user_source,
            user_status,
            create_time
        )values(
            #{appUserId},
            #{userName},
            #{sex},
            #{age},
            #{phoneNumber},
            #{organizationName},
            #{organizationId},
            2,
            1,
            1,
            sysdate()
        )
    </insert>

</mapper>